@import '../custom.scss';
.drum{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .display-wrap{
    text-align: center;
    min-height: 100px;
    padding: 10px;
    // background-color: green;
    // h1{
    //   height: 40px;
    // }
    
  }
  .machine{
    width: 350px;
  }
  
  .drum-pads{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding:20px 0;
    
  }
  .drum-pad{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor:pointer;
    font-size: 1.5rem;
    color:whitesmoke;
    transition: background-color 80ms ease-in-out;
    background-color: $primary;
    // &:hover{
    //   background-color: green !important;
    // }
  }
  .active{
    background-color: orange !important;
    border-color: orange;
  }
}