.markdown{
  padding: 15px;
  // border:solid 1px black;
  #editor{
    width: 100%;
    min-height: 30vh;
    padding: 10px;
  }
  #preview{
    word-wrap: normal;
    width: 100%;
    
    img{
      max-width: 100%;
    }
  }

}
