// COLORS

$primary: #4f632d;
$light: #fdf5e6;
$info:#e47025;
$danger: #73303C;
$info: #4C6353;
$secondary: #675e51;
$success:#044013;
$body-bg:$light;

// FONTS

// font-family: 'DM Sans', sans-serif;
// font-family: 'Electrolize', sans-serif;
// font-family: 'Space Mono', monospace;

$font-family-sans-serif: 'Space Mono', monospace;
$font-family-monospace: 'Space Mono', monospace;
// $space-mano:'Space Mono', monospace;
// $bs-body-font-family:$space-mano;

// BORDERS
$border-radius-sm:2px;
$border-radius:2px;

  


@import '~bootstrap/scss/bootstrap.scss';