// COLORS

$primary: #634217;
$light: whitesmoke;
$info:#e47025;
$danger: #73303C;
$info: #4C6353;
$secondary: #8C826C;
$success:#044013;
$body-bg:$light;

// BORDERS
$border-radius-sm:2px;
$border-radius:2px;

@import '~bootstrap/scss/bootstrap.scss';